@page "/shoppinglist"
@using FirstBlazorApp.Data
<PageTitle>@title</PageTitle>
<h3>ShoppingList</h3>

<input placeholder="Grocery Name" @bind="groceryName" />
<input placeholder="Grocery Price" @bind="groceryPrice" />
<button @onclick="AddGrocery">Add Grocery</button>
<ul class="mt-3">
    @foreach(var grocery in groceries)
    {
        <li>@grocery.Name -- @grocery.Price</li>
    }
</ul>
<h1>Total Price = @sum</h1>

@code {
    private string groceryName = "";
    private float groceryPrice;
    private string title = "Our Groceries";
    private float sum = 0;
    private List<Grocery> groceries = new();

    private void AddGrocery()
    {
        Grocery newGrocery = new();
        if(!string.IsNullOrEmpty(groceryName) && groceryPrice > 0)
        {
            newGrocery.Name = groceryName;
            newGrocery.Price = groceryPrice;
            groceries.Add(newGrocery);
        }

        groceryName = string.Empty;
        groceryPrice = 0;
        sum += newGrocery.Price;
    }
}
